{% extends 'dashboardbase.html' %}

{% load static %}

{% block content %}
  <!-- crancy Dashboard -->
  <section class="crancy-adashboard crancy-show">
    <div class="container p-0">
      <div class="row row__bscreen">
        <div class="col-xxl-3 col-12 crancy-main__sidebar">
          <!-- Sidebar -->
          <div class="crancy-sidebar mg-top-30">
            <div class="row">
              <div class="col-xxl-12 col-xl-6 col-12 crancy-sidebar__widget">
                <!-- crancy Single Sidebar -->
                <div class="crancy-sidebar__single">
                  <!-- Sidebar Heading -->
                  <div class="crancy-sidebar__heading">
                    <h4 class="crancy-sidebar__title">My Wallet</h4>
                    <a href="#" class="crancy-sidebar__toggles">
                      <img src="{% static 'dashboard/img/inline-toggle.svg' %}" />
                    </a>
                  </div>
                  <!-- Wallet Card -->
                  <div class="crancy-wallet-card crancy-bg-cover">
                    <div class="crancy-wallet-card__inner">
                      <div class="crancy-wallet-card__left">
                        <img style="height:60px;" src="{% static 'dashboard/img/logo.png' %}" />
                        <div class="crancy-wallet-card__amount">
                          <h4 class="crancy-wallet-card__title">
                            <span>My Balance</span>
                            <b>${{ wallet.balance }}</b>
                          </h4>
                        </div>
                      </div>
                      <div class="crancy-wallet-card__right">
                        <img src="{% static 'dashboard/img/wallet-card-statics.svg' %}" />
                        <span class="crancy-progress-card__percent crancy-color1">
                          <svg class="crancy-color1__fill"
                               width="20"
                               height="20"
                               viewBox="0 0 20 20"
                               fill="none"
                               xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z">
                            </path>
                            <path opacity="0.4" d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z">
                            </path>
                          </svg>
                          {% comment %} +2.5% {% endcomment %}
                        </span>
                      </div>
                    </div>
                    <div class="crancy-wallet-card__buttons">
                      {% comment %} <a data-bs-toggle="modal" data-bs-target="#popup_modal_1" class="crancy-btn crancy-ybcolor">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M18 11L18 7L6 7V19C6 20.1046 6.89543 21 8 21H16C17.1046 21 18 20.1046 18 19V11ZM18 11C20.2091 11 22 9.20914 22 7C22 4.79086 20.2091 3 18 3H6C3.79086 3 2 4.79086 2 7C2 9.20914 3.79086 11 6 11" stroke-width="1.5" stroke-linejoin="round" />
                        <path d="M14 12.5858L12.7071 11.2929C12.3166 10.9024 11.6834 10.9024 11.2929 11.2929L10 12.5858M12 16.5858V11.5858" stroke-width="1.5" stroke-linecap="round" />
                      </svg>
                      Deposit
                      </a> {% endcomment %}
                      {% comment %} <a href="#" class="crancy-btn crancy-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M6 13.0001L6 17.0001L18 17.0001L18 5.00009C18 3.89552 17.1046 3.00009 16 3.00009L8 3.00009C6.89543 3.00009 6 3.89552 6 5.00009L6 13.0001ZM6 13.0001C3.79086 13.0001 2 14.7909 2 17.0001C2 19.2092 3.79086 21.0001 6 21.0001L18 21.0001C20.2091 21.0001 22 19.2092 22 17.0001C22 14.791 20.2091 13.0001 18 13.0001" stroke-width="1.5" stroke-linejoin="round" />
                        <path d="M10 11.4143L11.2929 12.7072C11.6834 13.0977 12.3166 13.0977 12.7071 12.7072L14 11.4143M12 7.4143L12 12.4143" stroke-width="1.5" stroke-linecap="round" />
                      </svg>
                      Withdraw
                      </a> {% endcomment %}
                    </div>
                  </div>
                  <!-- End Wallet Card -->
                </div>
                <!-- End crancy Single Sidebar -->
              </div>
              <div class="col-xxl-12 col-xl-6 col-12 crancy-sidebar__widget">
                <!-- crancy Single Sidebar -->
                <div class="crancy-sidebar__single">
                  <form class="crancy-wallet-form" action="#">
                    <span class="crancy-wallet-form__label">Send</span>
                    <!-- Amount Inside -->
                    {% comment %} <div class="crancy-wallet-form__amount mg-top-15">
                    <span class="crancy-wallet-form__amount-label">Enter amount</span>
                    <div class="crancy-wallet-form__amount-group">
                      <input type="text" placeholder="$1,24" />
                    </div>
                    </div> {% endcomment %}
                    <!-- End Amount Inside -->
                    <button data-bs-toggle="modal"
                            data-bs-target="#popup_modal_2"
                            class="crancy-btn crancy-full-width mg-top-20">Fund Wallet</button>
                  </form>
                  {% comment %} <form class="crancy-wallet-customer mg-top-30">
                  <!-- Customer Single -->
                  <div class="crancy-wallet-customer__single">
                    <h3 class="crancy-wallet-customer__title">
                      Customer <a href="#">Edit</a>
                    </h3>
                    <div class="crancy-wallet-customer__author">
                      <img src="{% static 'dashboard/img/payment-author.svg' %}" />
                      <div class="crancy-wallet-customer__content">
                        <h4 class="crancy-wallet-customer__content--name">
                          Darcel Ballentine
                        </h4>
                        <p class="crancy-wallet-customer__content--text">
                          Los Angeles, USA
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- End Customer Single -->
                  <!-- Customer Single -->
                  <div class="crancy-wallet-customer__single">
                    <h3 class="crancy-wallet-customer__title">
                      Contact Information <a href="#">Edit</a>
                    </h3>
                    <ul class="crancy-wallet-customer__contact">
                      <li>
                        <img src="{% static 'dashboard/img/email-icon.svg' %}" />
                        <p>
                          <a href="mailto:darcelballentine@mail.com">darcelballentine@mail.com</a>
                        </p>
                      </li>
                      <li>
                        <img src="{% static 'dashboard/img/phone-icon.svg' %}" />
                        <p>
                          <a href="tell:(671) 555-0110">(671) 555-0110</a>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <!-- End Customer Single -->
                  <!-- Customer Single -->
                  <div class="crancy-wallet-customer__single">
                    <h3 class="crancy-wallet-customer__title">
                      Default Address <a href="#">Edit</a>
                    </h3>
                    <ul class="crancy-wallet-customer__contact">
                      <li>
                        <img src="{% static 'dashboard/img/location-icon.svg' %}" />
                        <p>2715 Ash Dr. San Jose, South Dakota 83475</p>
                      </li>
                    </ul>
                  </div>
                  <!-- End Customer Single -->
                  </form> {% endcomment %}
                </div>
                <!-- End crancy Single Sidebar -->
              </div>
            </div>
          </div>
          <!-- End Sidebar -->
        </div>
        <div class="col-xxl-8 col-12 crancy-main__column">
          <div class="crancy-body">
            <!-- Dashboard Inner -->
            <div class="crancy-dsinner">
              {% comment %} <div class="row crancy-gap-30">
              <div class="col-12">
                <!-- Charts One -->
                <div class="charts-main charts-home-one mg-top-30">
                  <!-- Top Heading -->
                  <div class="charts-main__heading mg-btm-20">
                    <h4 class="charts-main__title">Statitics</h4>
                    <div class="crancy-customer-filter pd-0 m-0">
                      <div class="crancy-customer-filter__single">
                        <a href="#" class="crancy-customer-filter__single--button">
                          <img src="{% static 'dashboard/img/calendar-icon-2.svg' %}" />April 11 -
                          April 24
                        </a>
                      </div>
                      <div class="crancy-customer-filter__single">
                        <a href="#" class="crancy-customer-filter__single--button">
                          <img src="{% static 'dashboard/img/download-icon2.svg' %}" />Download
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="charts-main__one">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="crancy-chart__s1" role="tabpanel" aria-labelledby="crancy-chart__s1">
                        <div class="crancy-chart__inside crancy-chart__three">
                          <!-- Chart One -->
                          <canvas id="myChart_recent_statics"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Charts One -->
              </div>
              </div> {% endcomment %}
              <div class="crancy-table crancy-table--v3 mg-top-30">
                {% comment %} <div class="crancy-customer-filter">
                <div class="crancy-customer-filter__single crancy-customer-filter__single--csearch">
                  <div class="crancy-header__form crancy-header__form--customer">
                    <form class="crancy-header__form-inner" action="#">
                      <button class="search-btn" type="submit">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="9.78639" cy="9.78614" r="8.23951" stroke="#9AA2B1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
                          <path d="M15.5176 15.9448L18.7479 19.1668" stroke="#9AA2B1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </button>
                      <input name="s" value="" type="text" placeholder="Search by ID, product, or others..." />
                    </form>
                  </div>
                </div>
                <div class="crancy-customer-filter__single">
                  <a href="#" class="crancy-customer-filter__single--button">
                    <img src="{% static 'dashboard/img/filter-icon3.svg' %}" />Filters
                  </a>
                </div>
                <div class="crancy-customer-filter__single">
                  <a href="#" class="crancy-customer-filter__single--button">
                    <img src="{% static 'dashboard/img/calendar-icon-2.svg' %}" />April 11 - April
                    24
                  </a>
                </div>
                <div class="crancy-customer-filter__single">
                  <a href="#" class="crancy-customer-filter__single--button">
                    <img src="{% static 'dashboard/img/download-icon2.svg' %}" />Download
                  </a>
                </div>
                </div> {% endcomment %}
                <!-- crancy Table -->
                <table id="crancy-table__main"
                       class="crancy-table__main crancy-table__main-v3">
                  <strong>Wallet Transactions</strong>
                  <!-- crancy Table Head -->
                  <thead class="crancy-table__head">
                    <tr>
                      <th class="crancy-table__column-1 crancy-table__h1">
                        <div class="crancy-wc__checkbox">
                          <input class="crancy-wc__form-check"
                                 id="checkbox"
                                 name="checkbox"
                                 type="checkbox" />
                          <span>Transaction ID</span>
                        </div>
                      </th>
                      <th class="crancy-table__column-2 crancy-table__h2">Date</th>
                      <th class="crancy-table__column-3 crancy-table__h3">Amount</th>
                      {% comment %} <th class="crancy-table__column-4 crancy-table__h4">
                      Payment
                      </th> {% endcomment %}
                      <th class="crancy-table__column-5 crancy-table__h5">Status</th>
                    </tr>
                  </thead>
                  <!-- crancy Table Body -->
                  <tbody class="crancy-table__body">
                    {% for transactions in user_transactions %}
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__customer">
                            <div class="crancy-wc__checkbox">
                              <input class="crancy-wc__form-check"
                                     id="checkbox"
                                     name="checkbox"
                                     type="checkbox" />
                              <label for="checkbox" class="crancy-table__customer-img">
                                {% comment %} <img src="{% static 'dashboard/img/customer1.png' %}" alt="#" />
                                {% endcomment %}
                                <h4 class="crancy-table__product-title">{{ transactions.id }}</h4>
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">{{ transactions.created_at|date:"M d, Y" }}</h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">${{ transactions.amount }}</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <div class="crancy-table__actions">
                            {% if transactions.transaction_type == "CREDIT" %}
                              <div class="crancy-table__status crancy-table__status--paid">{{ transactions.transaction_type }}</div>
                            {% elif transactions.transaction_type == "DEBIT" %}
                              <div class="crancy-table__status crancy-table__status--paid">{{ transactions.transaction_type }}</div>
                            {% else %}
                              <div class="crancy-table__status crancy-table__status--delete">PROCCESSING</div>
                            {% endif %}
                            <div class="crancy-table__action">
                              <a href="#">
                                <img src="{% static 'dashboard/img/dots.svg' %}" />
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                    <a href="#">
                      <img src="{% static 'dashboard/img/dots.svg' %}" />
                    </a>
                  </div>
                </div>
              </td>
            </tbody>
            <!-- End crancy Table Body -->
          </table>
          <!-- End crancy Table -->
          <br />
          <a class="btn btn-sm btn-outline-primary align-self-center"
             href="{% url 'referals:wallet_transaction_list' %}">see all</a>
        </div>
      </div>
      <!-- End Dashboard Inner -->
    </div>
  </div>
</div>
</div>
</section>
<!-- End crancy Dashboard -->
</div>
<!-- Add Currency Popup  -->
<div class="crancy-default__modal modal fade"
     id="popup_modal_1"
     tabindex="-1"
     aria-labelledby="popup_modal_1"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content crancy-preview__modal-content">
      <div class="row">
        <div class="col-12">
          <div class="crancy-flex__right">
            <a id="crancy-main-form__close"
               type="initial"
               class="crancy-preview__modal--close btn-close"
               data-bs-dismiss="modal"
               aria-label="Close">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   fill="none">
                <g clip-path="url(#clip0_989_10425)">
                <circle cx="12" cy="12" r="12" fill="#EDF2F7" />
                <path d="M16.9498 7.05029L7.05033 16.9498" stroke="#5D6A83" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M7.05029 7.05029L16.9498 16.9498" stroke="#5D6A83" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                <clipPath id="clip0_989_10425">
                <rect width="24" height="24" fill="white" />
                </clipPath>
                </defs>
              </svg>
            </a>
          </div>
          <div class="crancy-wc__heading crancy-flex__column-center text-center">
            <h3 class="crancy-login-popup__title">Add Currency</h3>
            <p>
              When you add a currency, any payments you receive in that
              currency will be credited to that balance
            </p>
            <!-- Search Form -->
            <div class="crancy-header__form crancy-header__form__currency mg-top-20">
              <form class="crancy-header__form-inner" action="#">
                <button class="search-btn" type="submit">
                  <svg width="20"
                       height="20"
                       viewBox="0 0 20 20"
                       fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9.78639" cy="9.78614" r="8.23951" stroke="#9AA2B1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.5176 15.9448L18.7479 19.1668" stroke="#9AA2B1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
                <input name="s" value="" type="text" placeholder="Search..." />
              </form>
            </div>
            <!-- End Search Form -->
          </div>
          <div class="crancy-crancy-checkbox crancy-crancy-checkbox--list mg-top-20 mg-btm-20">
            <!-- Single Group -->
            <div class="crancy-crancy-checkbox__single">
              <input class="crancy-crancy-checkbox__input d-none"
                     type="radio"
                     value=""
                     id="cr-check-1"
                     name="q-question"
                     checked="" />
              <label class="crancy-crancy-checkbox__label" for="cr-check-1">
                <div class="crancy-crancy-checkbox__content">
                  <span>
                    <img src="{% static 'dashboard/img/country-1.png' %}" />
                  </span>
                  <h4 class="crancy-crancy-checkbox__title">Australian Dollar</h4>
                </div>
                <div class="crancy-crancy-checkbox__quiz-check"></div>
              </label>
            </div>
            <!-- End Single Group -->
            <!-- Single Group -->
            <div class="crancy-crancy-checkbox__single">
              <input class="crancy-crancy-checkbox__input d-none"
                     type="radio"
                     value=""
                     id="cr-check-2"
                     name="q-question"
                     checked="" />
              <label class="crancy-crancy-checkbox__label" for="cr-check-2">
                <div class="crancy-crancy-checkbox__content">
                  <span>
                    <img src="{% static 'dashboard/img/country-2.png' %}" />
                  </span>
                  <h4 class="crancy-crancy-checkbox__title">Japanese Yen</h4>
                </div>
                <div class="crancy-crancy-checkbox__quiz-check"></div>
              </label>
            </div>
            <!-- End Single Group -->
            <!-- Single Group -->
            <div class="crancy-crancy-checkbox__single">
              <input class="crancy-crancy-checkbox__input d-none"
                     type="radio"
                     value=""
                     id="cr-check-3"
                     name="q-question"
                     checked="" />
              <label class="crancy-crancy-checkbox__label" for="cr-check-3">
                <div class="crancy-crancy-checkbox__content">
                  <span>
                    <img src="{% static 'dashboard/img/country-3.png' %}" />
                  </span>
                  <h4 class="crancy-crancy-checkbox__title">United States</h4>
                </div>
                <div class="crancy-crancy-checkbox__quiz-check"></div>
              </label>
            </div>
            <!-- End Single Group -->
            <!-- Single Group -->
            <div class="crancy-crancy-checkbox__single">
              <input class="crancy-crancy-checkbox__input d-none"
                     type="radio"
                     value=""
                     id="cr-check-1"
                     name="q-question"
                     checked="" />
              <label class="crancy-crancy-checkbox__label" for="cr-check-1">
                <div class="crancy-crancy-checkbox__content">
                  <span>
                    <img src="{% static 'dashboard/img/country-1.png' %}" />
                  </span>
                  <h4 class="crancy-crancy-checkbox__title">Australian Dollar</h4>
                </div>
                <div class="crancy-crancy-checkbox__quiz-check"></div>
              </label>
            </div>
            <!-- End Single Group -->
            <!-- Single Group -->
            <div class="crancy-crancy-checkbox__single">
              <input class="crancy-crancy-checkbox__input d-none"
                     type="radio"
                     value=""
                     id="cr-check-2"
                     name="q-question"
                     checked="" />
              <label class="crancy-crancy-checkbox__label" for="cr-check-2">
                <div class="crancy-crancy-checkbox__content">
                  <span>
                    <img src="{% static 'dashboard/img/country-2.png' %}" />
                  </span>
                  <h4 class="crancy-crancy-checkbox__title">Japanese Yen</h4>
                </div>
                <div class="crancy-crancy-checkbox__quiz-check"></div>
              </label>
            </div>
            <!-- End Single Group -->
          </div>
          <button class="crancy-btn crancy-btn__currency crancy-full-width">Add a Currency</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Add Currency Popup  -->
<!-- Add Payment Popup  -->
<div class="crancy-default__modal crancy-payment__modal modal fade"
     id="popup_modal_2"
     tabindex="-1"
     aria-labelledby="popup_modal_2"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content crancy-preview__modal-content">
      <div class="row">
        <div class="col-12">
          <div class="crancy-flex__right">
            <a id="crancy-main-form__close"
               type="initial"
               class="crancy-preview__modal--close btn-close"
               data-bs-dismiss="modal"
               aria-label="Close">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   fill="none">
                <g clip-path="url(#clip0_989_10425)">
                <circle cx="12" cy="12" r="12" fill="#EDF2F7" />
                <path d="M16.9498 7.05029L7.05033 16.9498" stroke="#5D6A83" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M7.05029 7.05029L16.9498 16.9498" stroke="#5D6A83" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                <clipPath id="clip0_989_10425">
                <rect width="24" height="24" fill="white" />
                </clipPath>
                </defs>
              </svg>
            </a>
          </div>
          <div class="crancy-wc__heading crancy-flex__column-center text-center">
            <h3 class="crancy-login-popup__title">Fund Wallet</h3>
            <p>Please Choose the means of funding your wallet</p>
          </div>
          <div class="crancy-choose-method mg-top-40">
            <h3 class="crancy-choose-method__title m-0">Choose Means</h3>
            {% comment %} <a href="#" class="crancy-choose-method__add">Add <i class="fas fa-plus"></i></a>
            {% endcomment %}
          </div>
          <div class="row">
            <div class="col-lg-12 col-12 mg-top-30">
              <!-- Single Group -->
              <div class="crancy-crancy-checkbox__single crancy-crancy-checkbox__payment mg-btm-5">
                <input class="crancy-crancy-checkbox__input d-none"
                       type="radio"
                       value=""
                       id="cr-method-1"
                       name="q-question"
                       checked="" />
                <label class="crancy-crancy-checkbox__label" for="cr-method-1">
                  <a href="{% url 'referals:fund_wallet' %}">
                    <div class="crancy-crancy-checkbox__content">
                      {% comment %} <span><img src="{% static 'dashboard/img/nowpayment.png' %}" /></span>
                      {% endcomment %}
                      <h4 class="crancy-crancy-checkbox__title">Nowpayment</h4>
                    </div>
                  </a>
                  <div class="crancy-crancy-checkbox__quiz-check"></div>
                </label>
              </div>
              <!-- End Single Group -->
              <!-- Single Group -->
              <div class="crancy-crancy-checkbox__single crancy-crancy-checkbox__payment mg-btm-10">
                <input class="crancy-crancy-checkbox__input d-none"
                       type="radio"
                       value=""
                       id="cr-method-2"
                       name="q-question"
                       checked="" />
                <label class="crancy-crancy-checkbox__label" for="cr-method-2">
                  <a href="{% url 'referals:fund_wallet2' %}">
                    <div class="crancy-crancy-checkbox__content">
                      {% comment %} <span><img src="{% static 'dashboard/img/flutterwave.png' %}" /></span>
                      {% endcomment %}
                      <h4 class="crancy-crancy-checkbox__title">Flutter Wave</h4>
                    </div>
                  </a>
                  <div class="crancy-crancy-checkbox__quiz-check"></div>
                </label>
              </div>
              <!-- End Single Group -->
              <!-- Single Group -->
              <!-- End Single Group -->
            </div>
            {% comment %} <div class="col-lg-6 col-12 mg-top-30">
              <div class="crancy-payment-card">
                <img src="{% static 'dashboard/img/logo.png' %}" />
              </div>
              <div class="crancy-wallet-form__amount crancy-wallet-form__amount--v2 mg-top-15">
                <span class="crancy-wallet-form__amount-label">Enter amount</span>
                <div class="crancy-wallet-form__amount-group">
                  <input type="text" placeholder="$1,24" />
                  <div class="crancy-wallet-form__country">
                    <img src="{% static 'dashboard/img/country-4.png' %}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="crancy-btn crancy-btn__currency crancy-full-width mg-top-40">
            Continue
            </button> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Payment Popup  -->
  <!-- Add Payment Popup  -->
  <div class="crancy-default__modal crancy-payment__success modal fade"
       id="popup_modal_2"
       tabindex="-1"
       aria-labelledby="popup_modal_2"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content crancy-preview__modal-content crancy-preview__modal-content--large">
        <div class="row">
          <div class="col-12">
            <div class="crancy-wc__heading crancy-flex__column-center text-center">
              <img src="{% static 'dashboard/img/payment-success.svg' %}" />
              <h3 class="crancy-login-popup__title">Payment successful</h3>
            </div>
            <div class="crancy-payment-list">
              <div class="crancy-payment-list__single">
                <ul class="crancy-payment-list__list">
                  <li>
                    <p>
                      Payment type<span>Net Banking</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Bank<span>PayPal</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Mobile<span><a href="tel:+1 707 797 0462">+1 707 797 0462</a></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Email<span><a href="mailto:markparker@mail.com">markparker@mail.com</a></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Payment type<span>Net Banking</span>
                    </p>
                  </li>
                </ul>
              </div>
              <div class="crancy-payment-list__single">
                <ul class="crancy-payment-list__list">
                  <li>
                    <p>
                      Amount paid<span><b>$500.00</b></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Transaction id<span>123694559z6465</span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="crancy-btn__payments">
              <a href="#" class="crancy-btn">Print</a>
              <a href="#"
                 class="crancy-btn"
                 data-bs-dismiss="modal"
                 aria-label="Close">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Payment Popup  -->
{% endblock content %}
